---
import { ClientRouter } from "astro:transitions";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- SEO -->
  <meta
    name="description"
    content="Portfolio de Rubio ABELA, développeur web et étudiant en informatique."
  />
  <meta
    name="keywords"
    content="Rubio ABELA, portfolio, développeur web, informatique, projets, blog"
  />
  <meta name="author" content="Rubio ABELA" />
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://www.rubioabela.fr" />

  <!-- Title  -->
  <title>Rubio ABELA</title>
  <ClientRouter />
</head>
