---
import Link from "@ui/Link.astro";
import { socials } from "@config/social";
---

<ul class="flex space-x-4">
  {
    socials.map((social) => {
      const Icon = social.icon;
      return (
        <li>
          <Link href={social.link} target="_blank" rel="noopener noreferrer" variant="icon">
            <div data-social-icon>
              <Icon class="h-6 w-6 fill-current" />
            </div>
          </Link>
        </li>
      );
    })
  }
</ul>
