---
import "@styles/global.css";

import Head from "@shared/Head.astro";
import Header from "@shared/Header.astro";
---

<!doctype html>
<html lang="en">
  <Head />
  <body class="h-screen bg-linear-to-bl from-blue-950 to-gray-900">
    <Header />
    <main class="container p-4">
      <slot />
    </main>
  </body>
</html>
