---
import "@styles/global.css";

import Head from "@shared/Head.astro";
import Header from "@shared/Header.astro";
import Footer from "@shared/Footer.astro";
import DecorativeBackground from "@shared/DecorativeBackground.astro";
import ScrollToTop from "@shared/ScrollToTop.astro";
---

<!doctype html>
<html lang="en">
  <Head />
  <body class="min-h-screen">
    <DecorativeBackground />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <ScrollToTop />
  </body>
</html>
